/* 
target / context = result

base font size = 16px;
baseline grid = 13px (26-39-52-65)

based on perfect fourth scale

h1 size = 50px; -> 3.157em
h2 size = 21px; -> 1.333em
p size = 16px;  -> 1em

*/

* {
  box-sizing:border-box;
}


body, header,h1,h2,p, blockquote {
  padding:0;
  margin:0;
}

body {
  font-family:sans-serif;
  color:#444;
  position: relative;
}


h1 {
  color:#888;
  font-weight:100;
  text-align:center;
}

h2 {
  color:#ccc;
  font-weight:400;
  text-align:center;
}

p {
  color:#222;
  font-family:Georgia,serif;
}

q {
  position: relative;
  font-style: italic;
  quotes: '' '';
  color:#777;
}


span.new-servant {

}

@media screen and (max-width:30em)
{

  body {
    font-size:16px;
    line-height:26px;
  }

  h1 {
    font-size:50px;
    line-height:52px; 
    margin:13px auto 26px auto;
  }

  h2 {
    font-size:21px;
    line-height:26px;
    margin:26px auto 52px auto;
  }

  p {
      font-size:16px;
    line-height:26px; 
    margin:13px auto 26px auto;
    font-family:sans-serif;
  }

  .container {
    width:98%;
    margin:auto;
  }
  
  h1,h2,p {
    max-width:90%;
  }
}

@media screen and (min-width:30.01em) and (max-width:48em)
{
  body {
    font-size:18px;
    line-height:28px;
  }


  
  h1 {
    font-size:56px;
    line-height:56px; 
    margin:14px auto 28px auto;
  }

  h2 {
    font-size:23px;
    line-height:28px;
    margin:28px auto 56px auto;
  }

  p {
    font-size:18px;
    line-height:28px; 
    margin:14px auto 28px auto;
  }

  .container {
    width:90%;
    margin:auto;
  }
  
  h1,h2,p {
    max-width:100%;
  }
}


@media screen and (min-width:48.01em) and (max-width:60em)
{

  body {
    font-size:20px;
    line-height:30px;
  }

  h1 {
    font-size:63px;
    line-height:60px; 
    margin:15px auto 30px auto;
  }

  h2 {
    font-size:26px;
    line-height:30px;
    margin:30px auto 60px auto;
  }

  p {
    font-size:20px;
    line-height:30px; 
    margin:15px auto 30px auto;
  }

  .container {
    width:80%;
    margin:auto;
  }
  
  h1,h2,p {
    max-width:95%;
  }
}


@media screen and (min-width:60.01em) and (max-width:80em)
{
  
  body {
    font-size:22px;
    line-height:32px;
    /*background: #ddd;*/
  }

  h1 {
    font-size:69px;
    line-height:64px; 
    margin:16px auto 32px auto;
  }

  h2 {
    font-size:32px;
    line-height:32px;
    margin:32px auto 64px auto;
  }

  p {
    font-size:24px;
    line-height:32px; 
    margin:16px auto 32px auto;
  }

  .container {
    width:70%;
    margin:auto;
  }
  
  h1,h2,p {
    max-width:95%;
  }
}

@media screen and (min-width:80.01em)
{

  body {
    font-size:24px;
    line-height:36px;
    /*background: #aaa;*/
  }

  h1 {
    font-size:76px;
    line-height:72px; 
    margin:18px auto 36px auto;
  }

  h2 {
    font-size:40px;
    line-height:36px;
    margin:36px auto 72px auto;
  }

  p {
    font-size:24px;
    line-height:36px; 
    margin:18px auto 72px auto;
  }

  .container {
    width:70%;
    margin:auto;
  }
  
  h1,h2,p {
    max-width:90%;
  }
}



@media screen and (min-width:30.01em) {
  h1 {
    /*animation-name: fadeInHeader;
    animation-duration: 0.2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    opacity: 0.0;
    letter-spacing:0.6em;*/
  }

  h2 {
    /*animation-name: fadeInHeader2;
    animation-duration: 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    opacity: 0.0;
    text-shadow: 1px 1px 10px #8a8a8a;*/
  }

  p {
    /*animation-name: fadeInPara;
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    transform: translateY(-10000%);
    opacity: 0;
    text-shadow: 1px 1px 100px #8a8a8a;*/
  }
}




@keyframes fadeInHeader {
  0% {
    text-shadow: 1px 1px 10px #8a8a8a;
    letter-spacing:0.6em;
  }
  100% {
    text-shadow: 0px 0px 0px #8a8a8a;
    opacity: 1.0;
    letter-spacing:0;
  }
}


@keyframes fadeInHeader2 {
  0% {
    text-shadow: 1px 1px 10px #8a8a8a;
  }
  100% {
    text-shadow: 0px 0px 0px #8a8a8a;
    opacity: 1.0;
  }
}

@keyframes fadeInPara {
  0% {
    transform: translateY(-1000%);
    opacity: 0;
    text-shadow: 1px 1px 100px #8a8a8a;
  }
  100% {
    transform: translateY(0%);
    opacity: 1.0;
    text-shadow: 0px 0px 0px #8a8a8a;
  }
}



